@import "../../common/configure.scss";

.mui-list-cell{
    .mui-img-body{
        h2{
            position: relative;
        }
        >p{
          margin-top: 10px;
        	font-size:100%;
        	color:$silverColor;
        }
       	.activity-info{
       		color:$silverColor;
        }
    }
    .activity-img-img{
		width: 1.6rem;
		height: 1.6rem;
	}
}
.activity-over-list{
	.mui-list-cell{
		&:before{
			width:100%;
			height:100%;
			content:'';
			position:absolute;
			z-index:999;
			left:0;
			top: 0;
			background:rgba(255,255,255,0.5);
		}

	}
}
