@import "../common/configure.scss";

//边框字体大小
.mui-body{
	padding: 0.8rem;
}
.mui-iconfont{
	font-size: 0.48rem;
	&::before{
		color: $silverColor;
	}
}

//按钮位置
.next,
.reset,
.resetOk{
	margin-top: 1.0rem;
}

// 重置密码第三部
.resetSuccess{
	padding-top: 1.6rem;
	text-align:center;
	.mui-iconfont{
		margin: 0 auto;
		font-size: 1.1rem;
		color: #e94646;
	}
}

input{
	text-indent: 15px;
}
