<!DOCTYPE html>
<html>

<head>

    <head>
        <meta name="Keywords" content="智慧商场">
        <meta name="Description" content="智慧商场">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0" />
        <title>智慧商场</title>
        <script>
            + function(b) {
                var h = document.documentElement,
                    w = h.clientWidth;
                h.style.fontSize = w / b + "px";
            }(7.5);
        </script>
        <link rel="stylesheet" href="/css/common/reset.css" />
        <link rel="stylesheet" href="/css/common/mui.css" />
    </head>

    <body ontouchstart>
        <div class="mui-wrapper mui-darkbg">
            <header class="mui-header" id="header">
                <div class="mui-bar mui-line-bottom">
                    <a href="index.html" class="mui-pull-left">
                        <i class="mui-iconfont mui-icon-back"></i>
                    </a>
                    <h1 class="mui-bar-title">栅格</h1>
                </div>
            </header>
            <section class="mui-body mui-padding-20-0">
                <div class="mui-form mui-margin-20-0">
                    <div class="mui-form-row">
                        <i class="mui-iconfont mui-icon-people"></i>
                        <input class="mui-form-input" type="text" placeholder="请输手机号或者用户名" />
                    </div>
                </div>
                <div class="mui-form mui-margin-20-0">
                    <div class="mui-form-row">
                        <i class="mui-iconfont mui-icon-people"></i>
                        <input class="mui-form-input" type="text" placeholder="请输手机号或者用户名" />
                    </div>
                    <div class="mui-form-row">
                        <i class="mui-iconfont mui-icon-lock"></i>
                        <input class="mui-form-input" type="password" placeholder="请输入您的密码" />
                    </div>
                </div>
                <div class="mui-form mui-margin-20-0 mui-padding-0-20">
                    <div class="mui-form-row">
                        <i class="mui-iconfont mui-icon-people"></i>
                        <input class="mui-form-input" type="text" placeholder="请输手机号或者用户名" />
                    </div>
                    <div class="mui-form-row">
                        <i class="mui-iconfont mui-icon-lock"></i>
                        <input class="mui-form-input" type="password" placeholder="请输入您的密码" />
                    </div>
                </div>
                <div class="mui-form mui-margin-20-0 mui-padding-0-20 ">
                    <div class="mui-form-row">
                        <i class="mui-iconfont mui-icon-people"></i>
                        <input class="mui-form-input" type="text" placeholder="请输手机号或者用户名" />
                    </div>
                    <div class="mui-form-row">
                        <input class="mui-form-input" type="password" placeholder="请输入您的密码" />
                    </div>
                </div>
                <div class="mui-form mui-margin-20-0 mui-padding-0-20 ">
                    <div class="mui-form-row">
                        <i class="mui-iconfont mui-icon-people"></i>
                        <input class="mui-form-input" type="text" placeholder="请输手机号或者用户名" />
                    </div>
                    <div class="mui-form-row">
                        <input class="mui-form-input" type="password" placeholder="请输入您的密码" />
                        <a href="javascript:void(0)" class="mui-btn  mui-btn-primary mui-btn-middle">发送</a>
                    </div>
                    <style type="text/css">
                        .mui-btn {
                            width: 80px;
                        }
                    </style>
                </div>
                <div class="mui-border mui-padding-20  mui-margin-20-0">
                    <div class="mui-form">
                        <div class="mui-form-row">
                            <i class="mui-iconfont mui-icon-people"></i>
                            <input class="mui-form-input" type="text" placeholder="请输手机号或者用户名" />
                        </div>
                        <div class="mui-form-row">
                            <input class="mui-form-input" type="password" placeholder="请输入您的密码" />
                        </div>
                    </div>
                </div>
                <div class="mui-border mui-padding-20  mui-margin-20-0">
                    <div class="mui-form">
                        <div class="mui-form-row">
                            <i class="mui-iconfont mui-icon-people"></i>
                            <input class="mui-form-input" type="text" placeholder="请输手机号或者用户名" />
                        </div>
                        <div class="mui-form-row">
                            <i class="mui-iconfont mui-icon-lock"></i>
                            <input class="mui-form-input" type="password" placeholder="请输入您的密码" />
                        </div>
                        <div class="mui-form-row">
                            <i class="mui-iconfont mui-icon-people"></i>
                            <input class="mui-form-input" type="text" placeholder="请输手机号或者用户名" />
                        </div>
                        <div class="mui-form-row">
                            <i class="mui-iconfont mui-icon-lock"></i>
                            <input class="mui-form-input" type="password" placeholder="请输入您的密码" />
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </body>

</html>
