<!DOCTYPE html>
<html>

<head>

    <head>
        <meta name="Keywords" content="智慧商场">
        <meta name="Description" content="智慧商场">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0" />
        <title>智慧商场</title>
        <script>
            + function(b) {
                var h = document.documentElement,
                    w = h.clientWidth;
                h.style.fontSize = w / b + "px";
            }(7.5);
        </script>
        <link rel="stylesheet" href="/css/common/reset.css" />
        <link rel="stylesheet" href="/css/common/mui.css" />
    </head>

    <body ontouchstart>
        <div class="mui-wrapper mui-darkbg">
            <header class="mui-header" id="header">
                <div class="mui-bar mui-line-bottom">
                    <a href="index.html" class="mui-pull-left">
                        <i class="mui-iconfont mui-icon-back"></i>
                    </a>
                    <h1 class="mui-bar-title">其他</h1>
                </div>
            </header>
            <section class="mui-body mui-padding-20-0">
                <div class="block-1 mui-line-bottom mui-line-top">线
                    <style type="text/css">
                        .block-1 {
                            height: 50px;
                            background-color: #f7eb82;
                        }
                    </style>
                </div>
                <div class="block-2 mui-margin-20-0 mui-arrow-right">右箭头
                    <style type="text/css">
                        .block-2 {
                            height: 50px;
                            background-color: #f7eb82;
                        }
                    </style>
                </div>
                <div class="block-3 mui-margin-20-0 mui-arrow-up">下箭头
                    <style type="text/css">
                        .block-3 {
                            height: 50px;
                            background-color: #f7eb82;
                        }
                    </style>
                </div>
                <div class="block-4 mui-margin-20-0">
                    <h2>banner</h2>
                    <div class="mui-banner">
                        <div class="mui-banner-pages">
                            <div class="mui-banner-page">
                                <img src="/images/test/1.jpg">
                            </div>
                            <div class="mui-banner-page">
                                <img src="/images/test/1.jpg">
                            </div>
                        </div>
                        <div class="mui-banner-indicator">
                            <span class="mui-banner-indicator-dot mui-banner-indicator-dot-active"></span>
                            <span class="mui-banner-indicator-dot"></span>
                        </div>
                    </div>
                </div>
                <div class="block-5 mui-margin-20-0">
                    <h2>标题</h2>
                    <div class="mui-block-title">
                        <label class="mui-label">热门商户</label>
                        <a href="javascript:void(0)" class="allBrand mui-arrow-right">全部商户</a>
                    </div>
                </div>
                <div class="block-6 mui-margin-20-0">
                    <h2>上图下文字</h2>
                    <div class="mui-tv">
                        <img class="mui-tv-img" src="/images/home/icon_menu_brand.png">
                        <p class="mui-label">优衣库</p>
                    </div>
                    <style type="text/css">
                        .block-6 .mui-tv {
                            width: 100px;
                        }
                    </style>
                </div>
                <div class="block-7 mui-margin-20-0 mui-padding-20">
                    <div class="mui-hotlabels">
                        <h6>热门搜索</h6>
                        <ul>
                            <li class="mui-label">火锅</li>
                            <li class="mui-label">日料</li>
                            <li class="mui-label">家纺</li>
                            <li class="mui-label">运动</li>
                            <li class="mui-label">母婴产品</li>
                        </ul>
                    </div>
                    <style type="text/css">
                        .block-7 {
                            background-color: #fff;
                        }
                    </style>
                </div>
                <div class="block-8 mui-margin-20-0 mui-padding-20-0">
                    <h2>分类筛选</h2>
                    <ul class="mui-screen">
                        <li class="mui-screen-cell floor">
                            <label class="mui-label">楼层
                                <i class="mui-iconfont mui-icon-unfold"></i>
                            </label>
                        </li>
                        <li class="mui-screen-cell category">
                            <label class="mui-label">分类
                                <i class="mui-iconfont mui-icon-unfold"></i>
                            </label>
                        </li>
                        <li class="mui-screen-cell order">
                            <label class="mui-label">排序
                                <i class="mui-iconfont mui-icon-unfold"></i>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="block-9 mui-margin-20-0 mui-padding-20-0">
                    <h2>评论</h2>
                    <ul class="mui-comment">
                        <li class="mui-comment-cell">
                            <img class="mui-comment-headerimg" src="/images/test/header.jpg">
                            <div class="mui-comment-info">
                                <div class="mui-comment-info-header">
                                    <label class="mui-comment-header-name">张大爷</label>
                                    <span class="mui-comment-header-time">2015-12-20</span>
                                    <ul class="mui-stars mui-star-4">
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                    </ul>
                                </div>
                                <div class="mui-comment-text">
                                    <p>和两个朋友一起去的，早听说过招牌酥皮叉烧包，终于得以一试，外皮还不错很香酥的感觉，更接近面包类，内陷口味有点奇怪。干炒牛河是朋友喜欢的类型</p>
                                </div>
                                <ul class="mui-comment-photos">
                                    <li class="mui-comment-photo">
                                        <img src="/images/test/7.jpg">
                                    </li>
                                    <li class="mui-comment-photo">
                                        <img src="/images/test/6.jpg">
                                    </li>
                                    <li class="mui-comment-photo">
                                        <img src="/images/test/7.jpg">
                                    </li>
                                    <li class="mui-comment-photo">
                                        <img src="/images/test/6.jpg">
                                    </li>
                                </ul>
                                <div class="mui-comment-reply">
                                    <p>
                                        <label><i class="mui-iconfont mui-icon-emoji"></i>客服回复：</label>感谢您留下宝贵的意见,我们会更加努力改进的!谢谢您的支持与信任!</p>
                                </div>
                            </div>
                        </li>
                        <li class="mui-comment-cell">
                            <img class="mui-comment-headerimg" src="/images/test/header.jpg">
                            <div class="mui-comment-info">
                                <div class="mui-comment-info-header">
                                    <label class="mui-comment-header-name">张大爷</label>
                                    <span class="mui-comment-header-time">2015-12-20</span>
                                    <ul class="mui-stars mui-star-4">
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                    </ul>
                                </div>
                                <div class="mui-comment-text">
                                    <p>和两个朋友一起去的，早听说过招牌酥皮叉烧包，终于得以一试，外皮还不错很香酥的感觉，更接近面包类，内陷口味有点奇怪。干炒牛河是朋友喜欢的类型</p>
                                </div>
                                <ul class="mui-comment-photos">
                                    <li class="mui-comment-photo">
                                        <img src="/images/test/7.jpg">
                                    </li>
                                    <li class="mui-comment-photo">
                                        <img src="/images/test/6.jpg">
                                    </li>
                                    <li class="mui-comment-photo">
                                        <img src="/images/test/7.jpg">
                                    </li>
                                    <li class="mui-comment-photo">
                                        <img src="/images/test/6.jpg">
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mui-comment-cell">
                            <img class="mui-comment-headerimg" src="/images/test/header.jpg">
                            <div class="mui-comment-info">
                                <div class="mui-comment-info-header">
                                    <label class="mui-comment-header-name">张大爷</label>
                                    <span class="mui-comment-header-time">2015-12-20</span>
                                    <ul class="mui-stars mui-star-4">
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                    </ul>
                                </div>
                                <div class="mui-comment-text">
                                    <p>和两个朋友一起去的，早听说过招牌酥皮叉烧包，终于得以一试，外皮还不错很香酥的感觉，更接近面包类，内陷口味有点奇怪。干炒牛河是朋友喜欢的类型</p>
                                </div>

                                <div class="mui-comment-reply">
                                    <p>
                                        <label><i class="mui-iconfont mui-icon-emoji"></i>客服回复：</label>感谢您留下宝贵的意见,我们会更加努力改进的!谢谢您的支持与信任!</p>
                                </div>
                            </div>
                        </li>
                        <li class="mui-comment-cell">
                            <img class="mui-comment-headerimg" src="/images/test/header.jpg">
                            <div class="mui-comment-info">
                                <div class="mui-comment-info-header">
                                    <label class="mui-comment-header-name">张大爷</label>
                                    <span class="mui-comment-header-time">2015-12-20</span>
                                    <ul class="mui-stars mui-star-4">
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                        <li class="mui-star"></li>
                                    </ul>
                                </div>
                                <div class="mui-comment-text">
                                    <p>和两个朋友一起去的，早听说过招牌酥皮叉烧包，终于得以一试，外皮还不错很香酥的感觉，更接近面包类，内陷口味有点奇怪。干炒牛河是朋友喜欢的类型</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="block-10 mui-margin-20-0 mui-padding-20-0">
                    <h2>星星</h2>
                    <ul class="mui-stars">
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                    </ul>
                    <ul class="mui-stars mui-star-1">
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                    </ul>
                    <ul class="mui-stars mui-star-2">
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                    </ul>
                    <ul class="mui-stars mui-star-3">
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                    </ul>
                    <ul class="mui-stars mui-star-4">
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                    </ul>
                    <ul class="mui-stars mui-star-5">
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                        <li class="mui-star"></li>
                    </ul>
                </div>
                <div class="block-11 mui-margin-20-0 mui-padding-20-0">
                    <h2>单选</h2>
                    <ul class="mui-list">
                        <li class="mui-list-cell" style=" padding-left: 45px;">
                            <div class="mui-check mui-check-radio"></div>
                            <a href="javascript:void(0)">标题</a>
                        </li>
                        <li class="mui-list-cell">
                            <div class="mui-check mui-check-radio mui-pull-right"></div>
                            <a href="javascript:void(0)">标题</a>
                        </li>
                        <li class="mui-list-cell" style=" padding-left: 45px;">
                            <div class="mui-check mui-check-radio mui-checked"></div>
                            <a href="javascript:void(0)">标题</a>
                        </li>
                        <li class="mui-list-cell">
                            <div class="mui-check mui-check-radio mui-checked mui-pull-right"></div>
                            <a href="javascript:void(0)">标题</a>
                        </li>
                    </ul>

                    <style type="text/css">
                        .block-11 {
                            background-color: #fff;
                        }

                        .block-11 .mui-pull-right {
                            left: auto;
                            right: 0;
                        }
                    </style>
                </div>
            </section>
        </div>
    </body>

</html>
