$red: #e94646;
$darkred: #b01d23;

.item{
  background-color: #fff;
  .tips{
    color: $red;
  }
}
.showpic{
  width: 1.75rem;
  height: 1.75rem;
}
.item-content{
  h2{
    height: 1rem;
  }
}
.score{
  color: $red;
}

.logistics{
  margin-left: 2.5rem;
}
.confirm{
  margin-left: .3rem;
}

.summary{
  background-color: #fff;
}
.summary-title{
  em{
    color: $red;
  }
}
