$red: #e94646;
$darkred: #b01d23;

.title{
  background-color: #fff;
}

.item{
  border-left: 6px solid #ccc;
  background-color: #fff;
}
.item:nth-child(2n+1){
  background-color: #fff;
}
.item:nth-child(2n+0){
  background-color: #f9f9f9;
}
.item-title{
  width: 2rem; 
  position: relative;
}
.time{
  width: 1.4rem;
  height: .6rem;
  background-color: #ccc;
  text-align: center;
  color: #fff;
  border-radius: .3rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: .6rem;
  font-size: 14px;
}
.item:nth-child(1){
  border-left: 6px solid $red;
  .time{
    background-color: $red;
  }
}
