@charset "utf-8";

/*用户管理*/
.mainBody .fl { width: 700px; float: left; padding-bottom: 100px;}
.mainBody .fl .table td { overflow: visible;}
.mainBody .fl .table .t1 { text-align: center; width: 60px;}
.mainBody .fl .table thead td { height: 36px;}
.mainBody .fl .table tbody .t1 .js_checkbox { width: 36px; padding: 0; margin: 0 0 0 20px;}
.mainBody .fl .table .t2 { text-align: center; width: 70px;}
.mainBody .fl .table .t2 img { display: block; width: 50px; height: 50px; margin: 0 auto;}
.mainBody .fl .table .t3 { width: auto;}
.mainBody .fl .table .t4 { width: 150px; padding-right: 15px;}
.mainBody .fl .table .th2 { width: 150px; padding-right: 15px;}
.mainBody .fl .table .th1 .js_checkbox { margin: 0 0 0 15px; width: 45px;}
.mainBody .fl .table .th1 .js_checkbox p { width: 50px;}
.mainBody .fl .table .js_select { width: 150px;}
.mainBody .fl .table .js_select .options { width: 148px;}

.mainBody .fr { float: left; margin-left: 10px; border: 1px solid #e9efef; width: 238px; padding-bottom: 5px;}
.mainBody .fr ul { border-bottom: 1px solid #e9efef; margin-bottom: 5px;}
.mainBody .fr ul li { height: 36px; line-height: 36px;}
.mainBody .fr ul li a { height: 36px; line-height: 36px; display: block; padding-left: 10px; font-size: 12px; color: #89949a;}
.mainBody .fr ul li a span { padding-left: 5px; color: #bdc5c8;}
.mainBody .fr ul li a.current,
.mainBody .fr ul li a:hover { background: #f7f8fa; color: #525f67;}
.mainBody .fr .btnB { margin: 0 auto;}

/*微信用户分组*/
.pop-alert-appendWechatUserTeam .pop .bd p { padding: 10px; text-align: center;}
.pop-alert-appendWechatUserTeam .pop .bd .input { width: 260px; margin: 0 auto;}