{
    "extends": "eslint:recommended",
    "globals": {
        # vue
        "Vue": true,
        # event 事件
        "event": true,
        # commonjs
        "require": true,
        "module": true,
        # BOM,DOM 全局变量
        "FormData": true,
        "XMLHttpRequest": true,
        "window": true,
        "document": true,
        "console": true,
        "alert": true,
        "localStorage": true,
        "sessionStorage": true,
        "setTimeout": true,
        "setInterval": true,

    },
    "rules": {
        # redeclare
        "no-redeclare": "warn",
        # no console
        "no-console": "warn",
        # undefined var
        "no-undef": "warn",
        # unused var
        "no-unused-vars": "warn"
        # comma-dangle: ["warn", "always-multiline"]
    }
}
