$red: #e94646;
$darkred: #b01d23;
.mui-body{
  background-color: #fff;
}
.inputframe{
  margin: 0 50px;
}
.submitframe{
  margin-top: 50px;
}
.title{
  text-align: center;
  margin: 50px 0;
}
.tips-upper{
  color: $red;
  font-weight: bold;
}
.tips-lower{
  font-weight: bold;
}
