@charset "utf-8";

/*关键字回复详情*/
.mainBody .form .table .t1 { width: auto; padding-left: 40px;}
.mainBody .form .table .t2 { text-align: center; width: 250px;}
.mainBody .form .table .t3 { text-align: center; width: 120px;}

/*添加关键字*/
.pop-alert-appendWechatKeyword .pop .bd p { padding: 10px; text-align: center;}
.pop-alert-appendWechatKeyword .pop .bd .input { width: 260px; margin: 0 auto 10px auto;}
.pop-alert-appendWechatKeyword .pop .bd .mode { height: 36px; width: 296px; margin: 0 auto;}
.pop-alert-appendWechatKeyword .pop .bd .mode .js_radio { float: left; width: 80px; margin-right: 43px;}
.pop-alert-appendWechatKeyword .pop .bd .mode .js_radio p { text-align: left;}