@charset "utf-8";

/*关键字回复列表*/
.mainBody .table .t1 { text-align: center; width: 100px;}
.mainBody .table .t2 { width: auto;}
.mainBody .table .t3 { width: 120px; text-align: center;}
.mainBody .table .t4 { text-align: center; width: 120px;}
.mainBody .table .t5 { text-align: center; width: 120px;}
.mainBody .table .t6 { text-align: center; width: 160px;}
