.movie-info{
	background-color:#fff;
	.movie-info-img{
		width:1.2rem;
		height:1.6rem;
	}
	p{
		color:#777; 
	}
}
.movie-detail{
	background-color:#fff;
	h2{
		padding:0.3rem;
	}
	p{
		padding:0.3rem;
		font-size:.28rem; 
	}
}

.mui-footer{
	background-color:#fff;
}

// 电影hot等的标签样式
.movie-label{
	position:relative;
	display: inline-block;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	font-size: 0.24rem;
	text-align:center;
	color: #fff;
	height: 0.4rem;
	width: 0.66rem;
	line-height: 0.4rem;
	border-radius: 4px;
	&:first-child{
		margin-left: 0.4rem;
	} 
	@at-root .movie-label-new{
		background-color: #e94646;
	}
	@at-root .movie-label-hot{
		background-color: #fff;
		color:#e94646;
		&:after{
			width: 200%;
		    height: 200%; 
		    position: absolute;
		    top: 0;
		    left: 0;
		    content: " ";
		    -webkit-transform: scale(0.5) translateZ(0);
		    transform: scale(0.5) translateZ(0);
		    border-radius: 6px; 
		    -webkit-transform-origin: 0 0;
		    transform-origin: 0 0;
		    pointer-events: none;
		    z-index: 9;
		    border: 1px solid #e94646; 
		}
	}
}