<% include template/layout1.ejs -%>
<link rel="stylesheet" href="/css/demo/app.css">
<% include template/layout2.ejs -%>
<div class="container">
    <header>header</header>
    <section class="content">
        <div class="div1">
            字体大小
        </div>
        <br>
        <div class="div2">
            <a href="javascript:;">a点击</a>
            <p class="testp">p点击</p>
            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <h5>h5</h5>
            <h6>h6</h6>
        </div>
        <div class="div3">


        </div>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
        <p>内容</p>
        <br>
        <br>
        <br>
        <br>
    </section>
    <footer>footer</footer>
</div>
<% include template/layout3.ejs -%>
<script src="/js/demo/app.js"></script>  
<!-- <script src="/js/common/common.js"></script> -->
<% include template/layout4.ejs -%>
