@import "../../common/configure.scss";
.score-chart {
  height: 3.6rem;
  background-color: $yellowColor;
  position: relative;
}
.circle-position {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 140px;
  height: 140px;
}

.mui-grids{
  background-color: transparent;
}
.mui-body{
    background: url(../../../images/background_home_banner.png);
}
