
.invoice{
  background-color: #fff;
}
.invoice-photo{
  width: 1.20rem;
  height: 1.20rem;
}
.status{
  background-color: #fff;
}
.mui-list{
  background-color: #f0f0f0;
}
.mui-list-cell{
  background-color: #fff;
}
.status-tips{
  color: red;
}
.status-time{
  color: #ccc;
}
