
.level-title{
  height: .9rem;
  background-color: #fff;
}
.level-title-name{
  width: 2.8rem;
  line-height: .9rem;
}
.level-title-right{
  line-height: .9rem;
}
.level-body{
  background-color: #fff;
  .item-title{
    width: 2.8rem; 
  }
  .item-body{
    min-height: 1.5rem;
  }
}
.item{
  color: #ccc;
}
.indicator{
  height: 1rem;
}
