@charset "utf-8";

/*高级群发历史*/
.mainBody .table .t1 { text-align: center; width: 80px;}
.mainBody .table .t2 { padding-left: 20px;}
.mainBody .table .t3 { text-align: center; width: 100px;}
.mainBody .table .t4 { text-align: center; width: 250px;}
.mainBody .table .t5 { text-align: center; width: 120px;}
