@charset "utf-8";

/*高级群发*/
.mainBody .tableTools .i h5 { display: block; color: #87949d; font-size: 14px; overflow: hidden; height: 22px; line-height: 22px; padding-left: 2px;}
.mainBody .tableTools .w150 .js_select { width: 150px;}
.mainBody .tableTools .w150 .js_select .options { width: 148px;}
.mainBody .tableTools .w180 .js_select { width: 180px;}
.mainBody .tableTools .w180 .js_select .options { width: 178px;}
.mainBody .tableTools .w100 .js_select { width: 100px;}
.mainBody .tableTools .w100 .js_select .options { width: 98px;}
