<!DOCTYPE html>
<html>

<head>

    <head>
        <meta name="Keywords" content="智慧商场">
        <meta name="Description" content="智慧商场">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0" />
        <title>智慧商场</title>
        <script>
            + function(b) {
                var h = document.documentElement,
                    w = h.clientWidth;
                h.style.fontSize = w / b + "px";
            }(7.5);
        </script>
        <link rel="stylesheet" href="/css/common/reset.css" />
        <link rel="stylesheet" href="/css/common/mui.css" />
    </head>

    <body ontouchstart>
        <div class="mui-wrapper mui-darkbg">
            <header class="mui-header" id="header">
                <div class="mui-bar mui-line-bottom">
                    <a href="index.html" class="mui-pull-left">
                        <i class="mui-iconfont mui-icon-back"></i>
                    </a>
                    <h1 class="mui-bar-title">列表</h1>
                </div>
            </header>
            <section class="mui-body">
                <div class="block-1">
                    <ul class="mui-list">
                        <li class="mui-list-cell">列表1</li>
                        <li class="mui-list-cell">列表2</li>
                    </ul>
                </div>
                <div class="block-2 mui-margin-10-0">
                    <ul class="mui-list">
                        <li class="mui-list-cell">
                            <a href="javascript:void(0)" class="mui-arrow-right">
                        带右箭头
                    </a></li>
                        <li class="mui-list-cell">
                            <a href="javascript:void(0)">列表2</a>
                        </li>
                    </ul>
                </div>
                <div class="block-3 mui-margin-10-0">
                    <ul class="mui-list">
                        <li class="mui-list-cell">
                            <a href="javascript:void(0)">
                        直接写icon的带右箭头
                    </a>
                            <i class="mui-iconfont mui-icon-right"></i>
                        </li>
                        <li class="mui-list-cell">
                            <a href="javascript:void(0)">列表2</a>
                            <i class="mui-iconfont mui-icon-right"></i>
                        </li>
                    </ul>
                </div>
                <div class="block-4 mui-margin-10-0">
                    <ul class="mui-list">
                        <li class="mui-list-cell">
                            <i class="mui-iconfont mui-icon-friend mui-list-icon"></i>
                            <a href="javascript:void(0)">
                        左边带icon
                    </a>
                        </li>
                        <li class="mui-list-cell">
                            <a href="javascript:void(0)">左边带icon</a>
                        </li>
                    </ul>
                </div>
                <div class="block-5 mui-margin-10-0">
                    <ul class="mui-list">
                        <li class="mui-list-cell">
                            <i class="mui-iconfont mui-icon-friend mui-list-icon"></i>
                            <a href="javascript:void(0)" class="mui-arrow-right">
                        左边带icon
                    </a>
                        </li>
                        <li class="mui-list-cell">
                            <i class="mui-iconfont mui-icon-message mui-list-icon"></i>
                            <a href="javascript:void(0)">左边带icon</a>
                        </li>
                    </ul>
                </div>
                <div class="block-6 mui-margin-10-0 mui-padding-0-15">
                    <ul class="mui-list mui-border">
                        <li class="mui-list-cell">
                            <i class="mui-iconfont mui-icon-friend mui-list-icon"></i>
                            <a href="javascript:void(0)" class="mui-arrow-right">
                        圆角列表
                    </a>
                        </li>
                        <li class="mui-list-cell">
                            <i class="mui-iconfont mui-icon-message mui-list-icon"></i>
                            <a href="javascript:void(0)">左边带icon</a>
                        </li>
                        <li class="mui-list-cell">
                            <i class="mui-iconfont mui-icon-same mui-list-icon"></i>
                            <a href="javascript:void(0)">左边带icon</a>
                        </li>
                    </ul>
                </div>
                <div class="block-7 mui-margin-10-0">
                    <ul class="mui-list">
                        <li class="mui-list-cell mui-img">
                            <img src="/images/test/6.jpg" class="mui-img-img">
                            <div class="mui-img-body">
                                <h2>标题</h2>
                                <p class="mui-label">内容</p>
                            </div>
                        </li>
                        <li class="mui-list-cell mui-img">
                            <img src="/images/test/6.jpg" class="mui-img-img">
                            <div class="mui-img-body ">
                                <h2>标题</h2>
                                <p class="mui-label mui-ellipsis-1">内容内容内容内容内容内内容内容内容内容内容内容内容内容容内容内容</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="block-8 mui-margin-10-0">
                    <ul class="mui-list">
                        <li class="mui-list-cell mui-img">
                            <img src="/images/test/6.jpg" class="mui-img-img">
                            <div class="mui-img-body  mui-arrow-right">
                                <h2>标题</h2>
                                <p class="mui-label mui-ellipsis-4">这是两行省略这是两行省略这是两行省略这是这是两行省略这是两行省略这是两行省略这是两行省略这是两行省略这是两行省略这是两行省略这是两行省略两行省略这是两行省略这是两行省略这是两行省略这是两行省略</p>
                            </div>
                        </li>
                        <li class="mui-list-cell mui-img">
                            <img src="/images/test/6.jpg" class="mui-img-img">
                            <div class="mui-img-body mui-arrow-right">
                                <h2>标题</h2>
                                <p class="mui-label mui-ellipsis-1">内容内容内容内容内容内内容内容内容内容内容内容内容内容容内容内容</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="block-8 mui-margin-10-0 mui-padding-0-15">
                    <ul class="mui-list mui-border">
                        <li class="mui-list-cell mui-list-reverse mui-img">
                            <img src="/images/test/6.jpg" class="mui-img-img">
                            <div class="mui-img-body">
                                <h2>反转</h2>
                                <p class="mui-label mui-ellipsis-2">反转这是两行省略这是两行省略这是两行省略这是两行省略这是两行省略这是两行省略这是两行省略这是两行省略</p>
                            </div>
                        </li>
                        <li class="mui-list-cell">
                            <i class="mui-iconfont mui-icon-message mui-list-icon"></i>
                            <a href="javascript:void(0)">左边带icon</a>
                        </li>
                    </ul>
                </div>
                <div class="block-8 mui-margin-10-0 mui-padding-0-15">
                    <ul class="mui-list mui-border">
                        <li class="mui-list-cell mui-img">
                            <img src="/images/test/6.jpg" class="mui-img-img">
                            <div class="mui-img-body">
                                <h2>带按钮</h2>
                                <p class="mui-label mui-ellipsis-1">→_→有按钮→_→有按钮</p>
                            </div>
                            <a href="javascript:void(0)" class="mui-btn mui-btn-primary mui-btn-big">删除</a>
                        </li>
                        <li class="mui-list-cell">
                            <i class="mui-iconfont mui-icon-message mui-list-icon"></i>
                            <a href="javascript:void(0)">左边带icon</a>
                        </li>
                    </ul>
                    <style type="text/css">
                        .block-8 .mui-list-cell .mui-btn {
                            width: 80px;
                        }
                    </style>
                </div>
                <div class="block-9 mui-margin-10-0">
                    <ul class="mui-goods clearfix">
                        <li class="mui-goods-cell">
                            <img src="/images/test/goods1.png" class="mui-goods-cell-img">
                            <div class="mui-goods-cell-info">
                                <label class="mui-goods-cell-name">迷你办公室USB糖果</label>
                                <div class="mui-goods-sale">
                                    <label class="mui-goods-cell-price">￥1422.50</label>
                                    <span class="mui-goods-cell-total">800人购买</span>
                                </div>
                            </div>
                        </li>
                        <li class="mui-goods-cell">
                            <img src="/images/test/goods2.png" class="mui-goods-cell-img">
                            <div class="mui-goods-cell-info">
                                <label class="mui-goods-cell-name">Bose SoundSport 耳塞式Bose SoundSport 耳塞式</label>
                                <div class="mui-goods-sale">
                                    <label class="mui-goods-cell-price">￥1422.50</label>
                                    <span class="mui-goods-cell-total">800人购买</span>
                                </div>
                            </div>
                        </li>
                        <li class="mui-goods-cell">
                            <img src="/images/test/goods2.png" class="mui-goods-cell-img">
                            <div class="mui-goods-cell-info">
                                <label class="mui-goods-cell-name">迷你办公室USB糖果室USB糖果室USB糖果</label>
                                <div class="mui-goods-sale">
                                    <label class="mui-goods-cell-price">￥122.50</label>
                                    <span class="mui-goods-cell-total">8人购买</span>
                                </div>
                            </div>
                        </li>
                        <li class="mui-goods-cell">
                            <img src="/images/test/goods1.png" class="mui-goods-cell-img">
                            <div class="mui-goods-cell-info">
                                <label class="mui-goods-cell-name">迷你办公室USB糖果</label>
                                <div class="mui-goods-sale">
                                    <label class="mui-goods-cell-price">￥1422.50</label>
                                    <span class="mui-goods-cell-total">800人购买</span>
                                </div>
                            </div>
                        </li>
                        <li class="mui-goods-cell">
                            <img src="/images/test/goods1.png" class="mui-goods-cell-img">
                            <div class="mui-goods-cell-info">
                                <label class="mui-goods-cell-name">迷你办公室USB糖果</label>
                                <div class="mui-goods-sale">
                                    <label class="mui-goods-cell-price">￥1422.50</label>
                                    <span class="mui-goods-cell-total">0人购买</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </body>

</html>
