@charset "utf-8";

/*添加/修改单图文*/
.mainBody .itemSingle { border: 1px solid #e9efef; padding: 10px; width: 290px; overflow: hidden; position: static; background: #fff; float: left;}
.mainBody .itemSingle h2 { font-size: 16px; font-weight: normal; line-height: 24px; padding-bottom: 5px;}
.mainBody .itemSingle h2 a { color: #525f67;}
.mainBody .itemSingle h2 a:hover { text-decoration: underline;}
.mainBody .itemSingle .img { width: 290px; height: 160px; overflow: hidden; margin-bottom: 5px; background: #f7f8fa; color: #bec3c7; line-height: 160px; text-align: center; font-size: 14px;}
.mainBody .itemSingle .img img { display: block; width: 290px;}
.mainBody .itemSingle p { color: #525f67; line-height: 24px; font-size: 14px;}

.mainBody .form { float: right; width: 613px; margin-left: 15px; margin-bottom: 40px; position: relative;}
.mainBody .form fieldset { width: 581px; background: #f7f8fa; border: 1px solid #e9efef; padding: 5px 15px 15px 15px;}
.mainBody .form fieldset div.l { border: 0; padding: 0;}
.mainBody .form fieldset div.l h6 { width: auto; float: none; text-align: left; margin: 0; padding: 8px 0 0 0; height: 26px; line-height: 26px;}
.mainBody .form fieldset div.l h6 span { color: #bcc3c9;}
.mainBody .form fieldset div.l div.i { width: 581px; float: none; margin: 0;}
.mainBody .form fieldset div.l div.i .input { width: 559px;}
.mainBody .form fieldset div.l div.i textarea.input { width: 563px;}
.mainBody .form fieldset div.cover .up { width: 360px; float: left;}
.mainBody .form fieldset div.cover .cb { width: 180px; float: left;}
.mainBody .form fieldset div.cover .cb .js_checkbox { margin: 0;}
.mainBody .form .point { position: absolute; left: -9px; top: 48px; width: 10px; height: 19px; background: url(../../../statics/images/ui/pointWechatAssets.png);}
.mainBody .btnCon { clear: both; padding-top: 30px; border-top: 1px solid #e9efef;}
