@charset "utf-8";

/*微信语音素材列表*/
.mainHeader .toolbtns .flashupload { float: right; margin-left: 15px;}
.mainBody .itemList { overflow: hidden; padding: 15px 0 20px 0; width: 912px; overflow: hidden; margin: 0 auto;}
.mainBody .itemList .item { position: relative; float: left; border: 1px solid #e9efef; padding: 10px 10px 48px 10px; width: 267px; overflow: hidden; background: #fff; margin: 0 8px 15px 7px;}
.mainBody .itemList .item h1 { color: #525f67; height: 24px; overflow: hidden; font-size: 14px; display: block; line-height: 24px; padding: 0 0 6px 0;}
.mainBody .itemList .item .info { height: 84px; width: 100%; overflow: hidden;}
.mainBody .itemList .item .info .play { width: 84px; height: 84px; overflow: hidden; background: #f7f8fa; position: relative; display: block; float: left; margin-right: 10px;}
.mainBody .itemList .item .info .play span { position: absolute; right: 0; bottom: 0; line-height: 20px; padding-right: 3px; color: #bdc5c8;}
.mainBody .itemList .item .info .play sub { position: absolute; left: 50%; top: 50%; display: block; width: 16px; height: 16px; background: url(../../../statics/images/ui/iconAudioPlay.png) -16px -16px; margin: -8px 0 0 -8px;}
.mainBody .itemList .item .info .play:hover { background: #efeff3;}
.mainBody .itemList .item .info .play:hover sub { background: url(../../../statics/images/ui/iconAudioPlay.png) 0 -16px;}
.mainBody .itemList .item .info .pause sub { background: url(../../../statics/images/ui/iconAudioPlay.png) -16px 0;}
.mainBody .itemList .item .info .pause:hover sub { background: url(../../../statics/images/ui/iconAudioPlay.png) 0 0;}
.mainBody .itemList .item .info .r { float: left; width: 173px; height: 84px; overflow: hidden;}
.mainBody .itemList .item .info .r span { display: block; height: 20px; line-height: 20px; overflow: hidden; color: #cccccc;}
.mainBody .itemList .item .tools { height: 38px; background: #f7f8fa; border-top: 1px solid #e9efef; position: absolute; left: 0; bottom: 0; width: 100%; z-index: 2;}
.mainBody .itemList .item .tools a { display: block; width: 95px; height: 38px; background-image: url(../../../statics/images/ui/iconWechatAssets.png); background-repeat: no-repeat; float: left; position: relative;}

.mainBody .itemList .item .tools a.download { background-position: center -190px; border-right: 1px solid #e9edee;}
.mainBody .itemList .item .tools a.download:hover { background-position: center -152px;}
.mainBody .itemList .item .tools a.rename { background-position: center -38px; border-right: 1px solid #e9edee;}
.mainBody .itemList .item .tools a.rename:hover { background-position: center 0px;}
.mainBody .itemList .item .tools a.del { background-position: center -114px;}
.mainBody .itemList .item .tools a.del:hover { background-position: center -76px;}
.mainBody .pagers { border-top: 1px solid #e9efef; padding-top: 10px;}
.mainBody .itemList p.none { text-align: center; height: 250px; margin: 0; line-height: 250px; width: 100%; border: none; padding-bottom: 15px; color: #ccd3d5;}

.pop-alert-audioRename .pop .bd p { padding: 10px; text-align: center;}
.pop-alert-audioRename .pop .bd .input { width: 260px; margin: 0 auto;}