doctype
html
  head
    title es6
    style(type="text/css").
  body
    div#div1
      div#div2
        img(src="../images/baoguang.gif")
        
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="../js/app.js") 
    
