<extend name="Base/base" />
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/mall/css/user/setting/setting_suggest.css" />
</block>
<block name="content">
    <div class="mui-wrapper mui-darkbg" id="setting_suggest">
        <header class="mui-header">
            <div class="mui-bar ">
                <h1 class="mui-bar-title">意见反馈</h1>
                <a href="javascript:history.back()" class="mui-pull-left" id="back">
                    <i class="mui-iconfont mui-icon-back"></i>
                </a>
                <a href="{:U('setting_suggest_list')}" class="mui-pull-right">反馈记录</a>
            </div>
        </header>
        <section class="mui-body">
            <div class="suggest-title mui-padding-15-0 ">
                <h2>请输入标题</h2>
                <div class="input mui-flex mui-flex-center-veri suggest-border" style="background: #fff; border-radius: 0;margin-top: 0.2rem;">
                    <input type="text" maxlength="20" placeholder="请输入标题" class="mui-flex-auto" v-model="sendObj.title"/>
                    <i class=" mui-iconfont mui-icon-close"></i>
                </div>
            </div>
            <div class="suggest-content mui-padding-15-0 mui-margin-bottom-15 ">
                <h2>请输入您遇到的问题或意见</h2>
                <div class="textarea mui-flex mui-flex-center-veri suggest-border">
                    <textarea placeholder="请输入您遇到的问题或意见" maxlength="200" v-model="sendObj.content" style="padding-left:0.3rem; padding-top: 0.3rem"></textarea>
                    <!-- <i class=" mui-iconfont mui-icon-close"></i> -->
                </div>
            </div>
            <div class="suggest-image mui-padding-15-0 mui-margin-bottom-15 ">
                <h2>上传照片</h2>
                <div style="background: #fff; padding: 0.3rem; overflow: auto; margin-top: 0.2rem">
                    <mui-upload-picture v-for="item in imgList" :index="$index" track-by="$index"></mui-upload-picture>
                    <p class="mui-upload-frame" v-touch:tap.prevent="add">
                        <i class="mui-iconfont mui-icon-xinpin"></i>
                    </p>
                </div>
            </div>
        </section>
        <footer class="mui-footer mui-padding-15 mui-line-top">
            <a href="javascript:void(0)" class="mui-btn mui-btn-yellow mui-btn-middle mui-btn-block" v-touch:tap="sendSuggest">提交</a>
        </footer>
    </div>
</block>
<block name="script">
{:Widget('HomeShare/HomeShare',array('formMallId'=>'1'))}
<script type="text/javascript" src="__PUBLIC__/mall/script/user/setting/setting_suggest.js"></script>
</block>
