/**
*	全局变量
*	便于统一修改
*	2016-01-04
*/

// rem 以iphone6 100 为例

/*
通用颜色
*/
// 墨稿
$blackColor: #383635;
// 底稿灰
$paperGray: #f0f0f0;
// 底稿白
$paperWhite: #f6f6f6;
// 白色
$whiteColor: #ffffff;
// default
$default: #777777;
// success
$primary: #337ab7;
// success
$success: #5cb85c;
// info
$info: #5bc0de;
// warning
$warning: #f0ad4e;
// danger
$danger: #d9534f;


/*
    lefang项目配置颜色
*/

// 黄色
$yellowColor: #f8b500;
// 蓝色
$blueColor: #0b75be;
// 亮蓝
$lightBlueColor: #33afdd;
// 辅助色
// 金色
$goldenColor: #b09768;
// 银色 用于字体
$silverColor: #b5b6b6;
//	line颜色 灰色
$lineColor: #e5e5e5;
// 红色 自定义
$redColor: #e94646;
