@import "./configure.scss";


/**
* v-cloak
*	2016-03-01
*/
/************************* start ****************************/

[v-cloak] {
  display: none;
}

/*
 *
 *
 *
 *
 */
.vue-switch{
    width: 60px;
    height: 30px;
    background-color: $info;
    border-radius: 30px;
    transition: all .3s ease;
    @at-root #{&}-trigger{
        display: inline-block;
        transition: all .3s ease;
        height: 24px;
        width: 24px;
        margin-left: 3px;
        margin-top: 3px;
        background-color: #fff;
        border-radius: 12px;
    }
    &.active{
        background-color: $silverColor;
        .mui-switch-trigger{
            transform: translateX(30px);
        }
    }
}
