.mui-body{
	padding-top: 1.6rem;
	text-align:center;
	.mui-iconfont{
		margin: 0 auto;
		font-size: 1.5rem;
		color: #e94646;
	}
	.mui-label{
		label{
			color: #e94646;
		}
	}
}

.parking-pay-btn{
	margin:1.0rem 0.8rem 0.2rem 0.8rem;
}
