<extend name="Base/base" />
<block name="content">

    <div class="mui-wrapper mui-flex">
        <header class="mui-header">

            <div class="mui-bar mui-line-bottom">
                <h1 class="mui-bar-title">商城资讯</h1>
                <a href="javascript:history.back()" class="mui-pull-left">
                    <i class="mui-iconfont mui-icon-back"></i>
                </a>
            </div>
        </header>
		<div class="mui-body" id="message_detailList" v-refresh :callback="getList" :allowrefresh="allowrefresh" v-cloak>
			<a class="mui-margin-bottom-20" style="display: block;" v-for="item in items"  :href="item.url">
				<div style="background: #fff; box-shadow: 2px 2px 5px 0px #b4b3b3; margin-top: 0.1rem;" class="mui-padding-10">
				    <h1 style="color: #333333;font-weight: bold;">{{item.title}}</h1>
				    <div><img :src="item.img"></div>
				    <p class="mui-padding-15-0" style="color: #ccc; ">{{item.about}}</p>
				    <div class="mui-flex">
				    	<p class="mui-flex-auto" style="color:#b0976b ">阅读全文</p>
				    	<i class="mui-iconfont mui-icon-youjiantou" style="font-size: 0.3rem"></i>
				    </div>
				</div>
			</a>
            <div v-if="items.length == 0" class="mui-margin-top-20 mui-text-center">暂无数据</div>
            
		</div>

    </div>
</block>
<block name="script">
  	<script type="text/javascript" src="__PUBLIC__/mall/script/message/message_detailList.js"></script>
</block>
