@charset "UTF-8";
@import "./flex.scss";

html,body{
  height: 100%;
  font-size: 10px;
}
html{
  // font-size: 100px;
}
body{
  background: #ccc;
  font-size: .16rem;
}
.wrapper{
  @include display-flex;
  @include flex-direction-column;
  @include align-items-stretch;
  width: 100%;
}
header{
  height: 1rem;
  font-size: 0.5rem;
  background-color: red;
}
.content{
  @include flex-grow;
  input{
    background-color: #fff;
  }
}
footer{
  height: 1rem;
  background-color: blue;
}
