<%- include('./template/header', {title: "主页"}) %>
        <section>
            <div class="jumbotron">
              <h1>帅哥!</h1>
              <p>你好</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">点我，我是个可爱的链接</a></p>
            </div>
        </section>
<%- include('./template/footer') %>
