.list-label {
  display: inline-block;
  width: 2rem;
}
.list-body {
  color: #ccc;
}
.mui-check {
  position: relative !important;
  height: auto !important;
}
.status{
  background-color: #fff;
}
.status-title{
  color: #ccc;
}
.type{
  color: #ccc;
}
.number, .sort{
  color: red;
  font-weight: bold;
}
footer{
  background-color: #fff;
}
