.upper-sub{

}
.lower-sub{
  color: red;
  font-size: .4rem;
}
.status{
  background-color: #fff;
}
.status-title{
  color: #ccc;
}
.mui-check {
  position: relative !important;
  height: auto !important;
}
.type{
  color: #ccc;
}
.number, .sort{
  color: red;
  font-weight: bold;
}
footer{
  background-color: #fff;
}
