.mui-bar{
	padding-left: 50px;
	padding-right: 15px;
	padding-top: 0.1025rem; 
	padding-bottom: 0.1025rem;
}

// 头部地图按钮文字
.brand-map{
	color: #b01d23;
	font-size: 0.3rem;
	width: 1.0rem;
}


