$red: #e94646;
$darkred: #b01d23;
.mui-body{
  background-color: #fff;
}

.submitframe{
  margin-top: 50px;
}
.title{
  text-align: center;
  margin: 50px 0;
}

.mui-icon-zhaopian{
  &::before{

  }
}

.mui-icon-chenggong{
  font-size: 1.5rem;
}
